@model Product

<form method="post">
    <input hidden asp-for="Id" />
    <div class="card shadow border-0 mt-4">
        <div class="card-header bg-secondary bg-gradient text-light py-4">
            <div class="row">
                <div class="col-12 text-center">
                    <h2 class="text-white">Congratulations! You have (fake) purchased a @Model.Name</h2>
                </div><div class="col-12 text-center">
                    <h3 class="text-white">You have made my dad very happy!</h3>
                </div>
            </div>
        </div>
        <div class="card-body">
            <div class="py-3">
                <div class="row">
                    <div>
                        <div class="row">
                            <h4 class="text-dark text-opacity-90 text-center">Quantity You (Pretend) Bought : @Model.Quantity</h4>
                        </div>
                        <div class="row">
                            <h3 class="text-dark text-opacity-90  pb-2 text-center">
                                Price (You didn't pay):
                                <span class="text-info">
                                    @Model.Price.ToString("C")
                                </span>
                            </h3>

                            <p class="text-muted">Unfortunately, this is just a demo app. Although it would be totally awesome if you bought my dad's @Model.Name, at this time this application does not have the capability. </p>
                            <p class="text-muted">Thanks for checking out my app! I had a wonderful time doing this class!</p>
                        </div>
                        <div>
                            <a asp-action="Index" class="btn btn-outline-primary bg-gradient mb-5 fw-semibold btn-sm text-uppercase">
                                <small>Back to the homepage of my awesome application</small>
                            </a>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>

</form>